{% extends "common/base.html" %}

{% block head_content %}
    <style>
        .container {
            @apply max-w-3xl mx-auto p-5;
        }

        .my-form {
            @apply bg-gray-300 p-5 border border-gray-400;
        }

        .my-button {
            @apply bg-blue-500 text-white px-4 py-2 border-none cursor-pointer;
        }

        /* Custom styles for paragraphs */
        p {
            font-size: 16px;
            color: #333;
            line-height: 1.5;
            margin-bottom: 20px !important;
        }

        /* Custom styles for input fields */
        input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mx-auto">
        {% include "common/go_back_btn.html" %}
        <div class="bg-white rounded-lg shadow-md p-8 w-1/2 mx-auto">
            <form method="post" class="my-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="px-10 bg-blue-500 text-white font-semibold rounded-md py-2">Сохранить
                </button>
            </form>
        </div>
    </div>
{% endblock %}
