{% extends "common/base.html" %}

{% block content %}
    <div class="container mx-auto bg-white rounded-lg shadow-md p-8 w-1/2">
        <h1 class="text-xl font-bold mb-10"># Лабораторная №3</h1>

        <div class="links__container">
            <h2>Таблицы</h2>
            <ul>
                {% for table in tables %}
                    <li>
                        - <a style="color: #333333;" href="{{ table.link }}">{{ table.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

