{% extends "common/base.html" %}

{% block content %}
    <div class="container mx-auto bg-white rounded-lg shadow-md p-8 w-1/2">
        <h2 class="text-2xl font-bold mb-4">Введите информацию о товаре</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="name" class="block font-semibold">Наименование товара:</label>
                <input type="text" id="name" name="name" required class="w-full border p-2 rounded-lg">
            </div>

            <div class="mb-4">
                <label for="date" class="block font-semibold">Дата поступления в магазин:</label>
                <input type="date" id="date" name="receipt_date" required class="w-full border p-2 rounded-lg">
            </div>

            <div class="mb-4">
                <label for="quantity" class="block font-semibold">Количество товара:</label>
                <input type="number" id="quantity" name="count" required class="w-full border p-2 rounded-lg">
            </div>

            <div class="mb-4">
                <label for="price" class="block font-semibold">Цена закупки (руб.):</label>
                <input type="number" id="price" name="price" step="0.01" required class="w-full border p-2 rounded-lg">
            </div>

            <div class="flex justify-between items-center">
                <input type="submit" value="Отправить" class="bg-blue-500 text-white p-2 rounded rounded-lg">
                <a href="/labs/1/supplier-form" class="text-blue-500">Следующая форма</a>
            </div>

            <div class="flex justify-end items-center mt-6 rounded-lg">
                <a href="/" class="text-blue-500">Домой</a>
            </div>
        </form>

        {% if product %}
            <hr class="mt-10"/>
            <div class="card mt-8">
                <h2 class="text-2xl font-bold">Информация о товаре</h2>
                <p><strong>Наименование товара:</strong> {{ product.name }}</p>
                <p><strong>Дата поступления в магазин:</strong> {{ product.receipt_date }}</p>
                <p><strong>Количество товара:</strong> {{ product.count }}</p>
                <p><strong>Цена закупки (руб.):</strong> {{ product.price }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
