{% extends "common/base.html" %}

{% load tags %}

{% block document_title %}{{ model_name }}{% endblock %}

{% block content %}
    <div class="container mx-auto bg-white rounded-lg shadow-md p-8">

        {% if not hide_filter %}
            <form method="GET" action="" class="form-container border border-gray-300 p-4 rounded-lg mb-10">
                {% csrf_token %}
                {% if not hide_filter_value %}
                    <div class="py-4">
                        <label for="filter_field" class="font-semibold">Filter by Field:</label>
                        <select name="filter_field" id="filter_field" class="w-full border p-2">
                            {% for field_name in fields %}
                                <option value="{{ field_name.name }}">{{ field_name.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <div class="py-4">
                    <label for="filter_value" class="font-semibold mb-2">Значение фильтра:</label>
                    {% if input_type == 'date' %}
                        <input type="date" name="filter_value" id="filter_field" value="{{ input_value }}"
                               class="w-full border p-2 rounded-lg">
                    {% else %}
                        <input type="text" name="filter_value" id="filter_value" value="{{ input_value }}"
                               class="w-full border p-2 rounded-lg">
                    {% endif %}
                </div>
                <div>
                    <button type="submit" class="bg-blue-500 text-white font-semibold rounded-md p-2">Применить фильтр
                    </button>
                </div>
            </form>
        {% endif %}

        {% block title %}
            <div class="flex flex-row content-center nowrap">
                {% include "common/go_back_btn.html" %}
                <h1 class="text-2xl font-semibold ml-5">Таблица "{{ model_name }}"</h1>
            </div>
        {% endblock %}

        <div class="table-container border border-gray-300 rounded-lg mt-4 mb-4">
            <table class="table-fixed w-full">
                <thead>
                <tr>
                    {% for field_name in fields %}
                        <th class="px-4 py-2">{{ field_name.name }}</th>
                    {% endfor %}
                    {% if not is_read_only %}
                        <th class="px-4 py-2 text-right mr-5" style="text-align: right !important;">Действия</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for item in page_obj %}
                    <tr>
                        {% for field_name in fields %}
                            <td class="px-4 py-2">{{ item|get_attribute:field_name.name }}</td>
                        {% endfor %}

                        {% if not is_read_only %}
                            <td class="px-4 py-2">
                                <div class="flex justify-end">
                                    <a href="{% url 'edit_entity' model_name item.id %}" class="text-blue-500 mr-5">
                                        <span class="material-symbols-outlined">edit</span>
                                    </a>
                                    <form method="POST" action="delete/{{ item.id }}" class="inline">
                                        {% csrf_token %}
                                        <button
                                                type="submit"
                                                class="text-red-500 border-0 bg-transparent cursor-pointer"
                                        >
                                            <span class="material-symbols-outlined">delete</span>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="{{ fields|length }}" class="no-data p-4">В таблице {{ model_name|lower }} ничего не
                            найдено.
                        </td>
                    </tr>
                {% endfor %}
                <tr></tr>
                </tbody>
            </table>
        </div>

        {% if not is_read_only %}
            {% include "common/add_btn.html" %}
        {% endif %}

        {% if not hide_pagination %}
            {% include "common/pagination_nav.html" %}
        {% endif %}
    </div>
{% endblock %}
