<div class="pagination">
    <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="" class="mr-2 px-4 py-2 bg-blue-500 text-white rounded-lg">&laquo; В начало</a>
                    <a href="{{ page_obj.previous_page_number }}"
                       class="mr-2 px-4 py-2 bg-blue-500 text-white rounded-lg">Предыдущая</a>
                {% endif %}

        <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="{{ page_obj.next_page_number }}"
               class="ml-2 px-4 py-2 bg-blue-500 text-white rounded-lg">Следующая</a>
            <a class="ml-2 px-4 py-2 bg-blue-500 text-white rounded-lg"
               href="{{ page_obj.paginator.num_pages }}">В конец &raquo;</a>
        {% endif %}
    </span>
</div>