.table-container {
    width: 100%;
    background-color: #fff;
    border-radius: 5px !important;
    overflow: hidden;
}

.table-container th {
    padding: 10px;
    text-align: left;
    background-color: #007BFF;
    color: #fff;
}

.table-container td {
    text-align: left;
}

/* No Data Styles */
.no-data {
    text-align: center;
}