{% extends "common/base.html" %}
{% load i18n %}

{% block head_content %}
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥲</text></svg>">
    <style>
        h1 {
            color: #333;
            font-size: 36px;
        }

        p {
            color: #666;
            font-size: 24px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mx-auto text-center">
        <h1 class="text-4xl mb-5">{% translate "Ooops." %}</h1>
        <p class="mb-10">{% translate "Nothing found 🥲" %}</p>
        <a href="/" class="bg-blue-500 text-white font-semibold rounded-md p-2">{% translate "Go home?" %}</a>
    </div>
{% endblock %}