<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block document_title %}Лабораторные работы{% endblock %}</title>
    {% load static %}
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    {#    <script src="https://cdn.tailwindcss.com"></script>#}
    {% block head_content %}{% endblock %}
</head>
<body>
{% include 'header.html' %}
<h1>{% block heading %}{% endblock %}</h1>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    {#    Footer#}
</footer>
</body>
</html>
