{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <link href="{% static 'lab1.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">

        <h2>Введите информацию о товаре</h2>
        <form action="" method="POST"> {% csrf_token %}
            <label for="name">Наименование товара:</label>
            <input type="text" id="name" name="name" required><br><br>

            <label for="date">Дата поступления в магазин:</label>
            <input type="date" id="date" name="receipt_date" required><br><br>

            <label for="quantity">Количество товара:</label>
            <input type="number" id="quantity" name="count" required><br><br>

            <label for="price">Цена закупки (руб.):</label>
            <input type="number" id="price" name="price" step="0.01" required><br><br>

            <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; align-items: center;">
                <input type="submit" value="Отправить">

                <a style="text-decoration: none; color: #007BFF;" href="/labs/1_2">Следующая форма</a>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: flex-end; width: 100%; align-items: center; margin-top: 30px">
                <a style="text-decoration: none; color: #007BFF;" href="/">Домой</a>
            </div>
        </form>

        {% if product %}
            <div class="card">
                <h2>Информация о товаре</h2>
                <p><strong>Наименование товара:</strong> {{ product.name }}</p>
                <p><strong>Дата поступления в магазин:</strong> {{ product.receipt_date }}</p>
                <p><strong>Количество товара:</strong> {{ product.count }}</p>
                <p><strong>Цена закупки (руб.):</strong> {{ product.price }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}