{% extends "base.html" %}
{% load static %}

{% load tags  %}

{% block head_content %}
<link href="{% static 'model-data.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
    <div class="container">
    {% include "go_back_btn.html" %}
         <form method="GET" action="" class="form-container">
             <label for="filter_field">Поставщик:</label>
             <select name="filter_field" id="filter_field">
                  {% for field_name in suppliers %}
                      {% if selected_supplier == field_name.name %}
                          <option selected value="{{ field_name.name }}">{{ field_name.name }}</option>
                      {% else %}
                          <option value="{{ field_name.name }}">{{ field_name.name }}</option>
                      {% endif %}
                  {% endfor %}
              </select>
             <button type="submit">Применить</button>
         </form>
        <p>{{ title }}</p>
        <div class="table-container">
            <table class="table-container">
                <thead>
                <tr>
                    {% for field_name in fields %}
                        <th>{{ field_name.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        {% for field_name in fields %}
                            <td>{{ item|get_attribute:field_name.name }}</td>
                        {% endfor %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="{{ fields|length }}" class="no-data">No {{ model_name|lower }} available.</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}