{% extends "common/base.html" %}

{% block content %}
    <div class="container mx-auto bg-white rounded-lg shadow-md p-8 w-1/2">
        <h1 class="text-xl font-bold mb-10"># Административный модуль</h1>
        {% if user.is_authenticated %}
            <div class="mt-4">
                <h2 class="text-md mb-10 font-bold">Таблицы:</h2>
                <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    {% for table in tables_list %}
                        <li class="mt-2">
                            <a href="/admin-module/{{ table.model_name }}?name={{ table.name }}"
                               class="bg-blue-100 text-blue-600 px-4 py-2 rounded hover:bg-blue-200 inline-block">{{ table.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p class="text-red-500 mt-4">Вы не авторизованы. Пожалуйста, войдите в систему, чтобы получить доступ.</p>
        {% endif %}
    </div>
{% endblock %}
